In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [10]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [11]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [12]:
# Ecode Categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [13]:
# One hot encode 'Geography'

one_hot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis = 1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [15]:
# Split the data into features and target

X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=42)

# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

    
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

In [18]:
# ANN Regression Problem Statement

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
# Build the model
model = Sequential(
     [
          Dense(64, activation = 'relu', input_shape = (X_train.shape[1],)),
          Dense(32, activation = 'relu'),
          Dense(1) # Output layer for regression
     ]
)

# Compile the mode

model.compile(optimizer = 'adam', loss='mean_absolute_error', metrics = ['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\mk744\OneDrive - Poornima University\Desktop\ChurnPrediction\venv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 64)                832

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
# Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [25]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5,
                                        restore_best_weights = True
                                        )

In [26]:
# Train the model
history = model.fit(
     X_train, y_train,
     validation_data = (X_test, y_test),
     epochs = 100,
     callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\mk744\OneDrive - Poornima University\Desktop\ChurnPrediction\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\mk744\OneDrive - Poornima University\Desktop\ChurnPrediction\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 8ms/step - loss: 100367.9297 - mae: 100367.9297 - val_loss: 98480.7344 - val_mae: 98480.7344
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99494.3984 - mae: 99494.3984 - val_loss: 96708.6250 - val_mae: 96708.6250
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 96384.2656 - mae: 96384.2656 - val_loss: 92128.5312 - val_mae: 92128.5312
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 90274.1875 - mae: 90274.1875 - val_loss: 84612.2422 - val_mae: 84612.2422
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 81585.7578 - mae: 81585.7578 - val_loss: 75267.5781 - val_mae: 75267.5781
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 71815.3828 - mae: 71815.3828 - val_loss: 66057.5859 - val_mae: 66057.5859
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 62901.5195 - mae: 62901.5195 - val_loss: 58625.0078 - val_mae: 58625.0078
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 56494.6523 - mae: 56494.6523 - val_loss: 54024.0938 - val_mae: 54024.0938
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 52864.1680 - mae: 52864.1680 - val_loss: 51881.8750 - val_mae: 51881.8750
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51264.5156 - mae: 51264.5156 - val_loss: 51105.2656 - val_mae: 51105.2656
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50659.9648 - mae: 50659.9648 - val_loss: 50874.8398 - val_mae: 50874.8398
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50424.2891 - mae: 50424.2891 - val_loss: 50777.3047 - val_mae: 50777.3047
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50304.4844 - mae: 50304.4844 - val_loss: 50724.7070 - val_mae: 50724.7070
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50222.2773 - mae: 50222.2773 - val_loss: 50690.8906 - val_mae: 50690.8906
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50162.1680 - mae: 50162.1680 - val_loss: 50640.7812 - val_mae: 50640.7812
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50109.4258 - mae: 50109.4258 - val_loss: 50608.3047 - val_mae: 50608.3047
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50063.1680 - mae: 50063.1680 - val_loss: 50583.1172 - val_mae: 50583.1172
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50021.5664 - mae: 50021.5664 - val_loss: 50550.1094 - val_mae: 50550.1094
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49984.8555 - mae: 49984.8555 - val_loss: 50528.8672 - val_mae: 50528.8672
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49947.9336 - mae: 49947.9336 - val_loss: 50517.4883 - val_mae: 50517.4883
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49914.2305 - mae: 49914.2305 - val_loss: 50485.9805 - val_mae: 50485.9805
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49884.9492 - mae: 49884.9492 - val_loss: 50464.2539 - val_mae: 50464.2539
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49857.0117 - mae: 49857.0117 - val_loss: 50444.5273 - val_mae: 50444.5273
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49833.6641 - mae: 49833.6641 - val_loss: 50420.1680 - val_mae: 50420.1680
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49808.9297 - mae: 49808.9297 - val_loss: 50404.8203 - val_mae: 50404.8203
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49787.2734 - mae: 49787.2734 - val_loss: 50399.7695 - val_mae: 50399.7695
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49768.2031 - mae: 49768.2031 - val_loss: 50395.8945 - val_mae: 50395.8945
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49747.7266 - mae: 49747.7266 - val_loss: 50380.6992 - val_mae: 50380.6992
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49731.8594 - mae: 49731.8594 - val_loss: 50365.3945 - val_mae: 50365.3945
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49714.7109 - mae: 49714.7109 - val_loss: 50367.6445 - val_mae: 50367.6445
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49699.9766 - mae: 49699.9766 - val_loss: 50360.2422 - val_mae: 50360.2422
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49682.1172 - mae: 49682.1172 - val_loss: 50351.8945 - val_mae: 50351.8945
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49669.9023 - mae: 49669.9023 - val_loss: 50345.7188 - val_mae: 50345.7188
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49651.6836 - mae: 49651.6836 - val_loss: 50334.8945 - val_mae: 50334.8945
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49638.7188 - mae: 49638.7188 - val_loss: 50334.2227 - val_mae: 50334.2227
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49630.1328 - mae: 49630.1328 - val_loss: 50318.3320 - val_mae: 50318.3320
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49615.6094 - mae: 49615.6094 - val_loss: 50307.5742 - val_mae: 50307.5742
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49602.5195 - mae: 49602.5195 - val_loss: 50313.9531 - val_mae: 50313.9531
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49592.5430 - mae: 49592.5430 - val_loss: 50301.5625 - val_mae: 50301.5625
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49581.5234 - mae: 49581.5234 - val_loss: 50291.6875 - val_mae: 50291.6875
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49572.9492 - mae: 49572.9492 - val_loss: 50279.9805 - val_mae: 50279.9805
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49563.9258 - mae: 49563.9258 - val_loss: 50277.7070 - val_mae: 50277.7070
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49554.8125 - mae: 49554.8125 - val_loss: 50266.1367 - val_mae: 50266.1367
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49542.1523 - mae: 49542.1523 - val_loss: 50278.1289 - val_mae: 50278.1289
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49536.0664 - mae: 49536.0664 - val_loss: 50266.4961 - val_mae: 50266.4961
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49527.9766 - mae: 49527.9766 - val_loss: 50265.7891 - val_mae: 50265.7891
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49522.1211 - mae: 49522.1211 - val_loss: 50262.2539 - val_mae: 50262.2539
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49510.3320 - mae: 49510.3320 - val_loss: 50255.5664 - val_mae: 50255.5664
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49505.3086 - mae: 49505.3086 - val_loss: 50260.7969 - val_mae: 50260.7969
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49497.2852 - mae: 49497.2852 - val_loss: 50263.7734 - val_mae: 50263.7734
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49490.9492 - mae: 49490.9492 - val_loss: 50249.2266 - val_mae: 50249.2266
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49485.5312 - mae: 49485.5312 - val_loss: 50256.0547 - val_mae: 50256.0547
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49476.2539 - mae: 49476.2539 - val_loss: 50243.3867 - val_mae: 50243.3867
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49470.5234 - mae: 49470.5234 - val_loss: 50261.8125 - val_mae: 50261.8125
Epoch 55/100
250/250 [==============================] - 1s 6ms/step - loss: 49465.5469 - mae: 49465.5469 - val_loss: 50253.1445 - val_mae: 50253.1445
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49460.6953 - mae: 49460.6953 - val_loss: 50258.8828 - val_mae: 50258.8828
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49452.3789 - mae: 49452.3789 - val_loss: 50250.6992 - val_mae: 50250.6992
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49447.2734 - mae: 49447.2734 - val_loss: 50256.5117 - val_mae: 50256.5117

In [37]:
# Evaluate the model
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [40]:
%tensorboard --logdir regressionlogs/fit20250720-104616

Reusing TensorBoard on port 6007 (pid 15396), started 0:00:05 ago. (Use '!kill 15396' to kill it.)

In [41]:
# Evaluate model on the test data

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE : {test_mae}")

63/63 [==============================] - 1s 5ms/step - loss: 50243.3867 - mae: 50243.3867
Test MAE : 50243.38671875

In [42]:
model.save('regression_model.h5')

c:\Users\mk744\OneDrive - Poornima University\Desktop\ChurnPrediction\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(